:root {
  --brand-color: #6558f5;
  --white: #fff;
  --black: #343434;
  --border-color: #c4d0da;
  --header-bg: #7d7d7d;
  --header-text-color: #fff;

  --container-width: 1000px;
  --gap: 30px;
  --border-radius: 5px;
}
