.item {
  width: var(--container-width);
  max-width: 100%;
  margin: 0 auto;
  padding: 100px calc(var(--gap) / 2);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

  @media only screen and (max-width : 992px) {
    flex-flow: column-reverse;
    align-items: center;
    padding-top: 50px;
  }
}

.itemColumn {
  flex: 1 1 auto;
  max-width: 400px;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: var(--black);
    border-radius: var(--border-radius);
  }
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: calc(var(--gap) / 2);
}

.itemTitle {
  margin: 0;
}

.itemPrice {
  font-weight: bold;
}

.itemDescription {
  margin-top: calc(var(--gap) / 2);
}
