.searchContainer {
  width: var(--container-width);
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: calc(var(--gap)) 0;
}

.searchInner {
  display: flex;
  align-items: center;
}

.searchInput {
  margin-right: var(--gap);
  margin-left: calc(var(--gap) / 2);
}
